Package: PoBatch
Version: 0.0.0
Section: base
Priority: optional
Architecture: all
Depends: libc6 (>= 2.28), libgtk2.0-0 (>= 2.24)
Maintainer: Alexander Tverskoy <astverskoy@gmail.com>
Description: A simple tool for creating and editing PAD XML files used for software distribution and listings
